Repository schranz-templating/templating, pull requests merged in 2022-11, with the labels that each got.

#28 Add Mezzio Mezzio Integration
  README.md
  config.subsplit-publish.json
  examples/usages/mezzio/composer.json
  examples/usages/mezzio/composer.lock
  examples/usages/mezzio/config/config.php
  examples/usages/mezzio/config/routes.php
  examples/usages/mezzio/src/App/src/ConfigProvider.php
  examples/usages/mezzio/src/App/src/Handler/TemplateMezzioHandler.php
  examples/usages/mezzio/src/App/src/Handler/TemplateMezzioHandlerFactory.php
  src/Integration/Mezzio/Mezzio/.gitignore
  src/Integration/Mezzio/Mezzio/ConfigProvider.php
  src/Integration/Mezzio/Mezzio/LICENSE
  src/Integration/Mezzio/Mezzio/MezzioRendererFactory.php
  src/Integration/Mezzio/Mezzio/README.md
  src/Integration/Mezzio/Mezzio/composer.json
Labels: Framework: Mezzio

#33 Add Mezzio Latte Integration
  README.md
  config.subsplit-publish.json
  examples/usages/mezzio/composer.json
  examples/usages/mezzio/composer.lock
  examples/usages/mezzio/config/config.php
  examples/usages/mezzio/config/routes.php
  examples/usages/mezzio/src/App/src/ConfigProvider.php
  examples/usages/mezzio/src/App/src/Handler/TemplateHandler.php
  examples/usages/mezzio/src/App/src/Handler/TemplateLatteHandler.php
  examples/usages/mezzio/src/App/src/Handler/TemplateLatteHandlerFactory.php
  examples/usages/mezzio/src/App/templates/base.latte
  src/Integration/Mezzio/Latte/.gitignore
  src/Integration/Mezzio/Latte/ConfigProvider.php
  src/Integration/Mezzio/Latte/LICENSE
  src/Integration/Mezzio/Latte/LatteFactory.php
  src/Integration/Mezzio/Latte/LatteLoaderFactory.php
  src/Integration/Mezzio/Latte/LatteRendererFactory.php
  src/Integration/Mezzio/Latte/README.md
  src/Integration/Mezzio/Latte/composer.json
Labels: Engine: Latte, Framework: Mezzio

#35 Add Mezzio Blade Integration
  README.md
  config.subsplit-publish.json
  examples/usages/mezzio/composer.json
  examples/usages/mezzio/composer.lock
  examples/usages/mezzio/config/config.php
  examples/usages/mezzio/config/routes.php
  examples/usages/mezzio/src/App/src/ConfigProvider.php
  examples/usages/mezzio/src/App/src/Handler/TemplateBladeHandler.php
  examples/usages/mezzio/src/App/src/Handler/TemplateBladeHandlerFactory.php
  examples/usages/mezzio/src/App/src/Handler/TemplateHandler.php
  examples/usages/mezzio/src/App/templates/base.blade.php
  src/Integration/Mezzio/Blade/.gitignore
  src/Integration/Mezzio/Blade/BladeCompilerFactory.php
  src/Integration/Mezzio/Blade/BladeDispatcherFactory.php
  src/Integration/Mezzio/Blade/BladeEngineResolverBladeClosureFactory.php
  src/Integration/Mezzio/Blade/BladeEngineResolverFactory.php
  src/Integration/Mezzio/Blade/BladeEngineResolverPHPClosureFactory.php
  src/Integration/Mezzio/Blade/BladeFactory.php
  src/Integration/Mezzio/Blade/BladeFileViewFinderFactory.php
  src/Integration/Mezzio/Blade/BladeFilesystemFactory.php
  src/Integration/Mezzio/Blade/BladeRendererFactory.php
  src/Integration/Mezzio/Blade/ConfigProvider.php
  src/Integration/Mezzio/Blade/LICENSE
  src/Integration/Mezzio/Blade/README.md
  src/Integration/Mezzio/Blade/composer.json
Labels: Engine: Blade, Framework: Mezzio

#37 Add example Spiral application
  examples/usages/spiral/.editorconfig
  examples/usages/spiral/.env.sample
  examples/usages/spiral/.gitignore
  examples/usages/spiral/.rr.yaml
  examples/usages/spiral/.styleci.yml
  examples/usages/spiral/LICENSE
  examples/usages/spiral/README.md
  examples/usages/spiral/app.php
  examples/usages/spiral/app/config/database.php
  examples/usages/spiral/app/locale/ru/messages.en.php
  examples/usages/spiral/app/src/App.php
  examples/usages/spiral/app/src/Bootloader/LocaleSelectorBootloader.php
  examples/usages/spiral/app/src/Bootloader/LoggingBootloader.php
  examples/usages/spiral/app/src/Bootloader/RoutesBootloader.php
  examples/usages/spiral/app/src/Controller/HomeController.php
  examples/usages/spiral/app/src/Job/Ping.php
  examples/usages/spiral/app/src/Middleware/LocaleSelector.php
  examples/usages/spiral/app/views/embed/links.dark.php
  examples/usages/spiral/app/views/home.dark.php
  examples/usages/spiral/app/views/layout/base.dark.php
  examples/usages/spiral/composer.json
  examples/usages/spiral/phpunit.xml
  examples/usages/spiral/public/favicon.ico
  examples/usages/spiral/public/images/logo.svg
  examples/usages/spiral/public/styles/welcome.css
  examples/usages/spiral/tests/Feature/BasicTest.php
  examples/usages/spiral/tests/TestApp.php
  examples/usages/spiral/tests/TestCase.php
  examples/usages/spiral/tests/Traits/InteractsWithConsole.php
  examples/usages/spiral/tests/Traits/InteractsWithHttp.php
  examples/usages/spiral/tests/Unit/DemoTest.php
Labels: Framework: Spiral

#40 Add Spiral Twig Integration
  README.md
  examples/usages/spiral/app/src/Api/Web/Controller/TemplateController.php
  examples/usages/spiral/app/src/Application/Kernel.php
  examples/usages/spiral/app/views/base.twig
  examples/usages/spiral/composer.json
  src/Integration/Spiral/Twig/.gitignore
  src/Integration/Spiral/Twig/Bootloader/TwigBootloader.php
  src/Integration/Spiral/Twig/LICENSE
  src/Integration/Spiral/Twig/README.md
  src/Integration/Spiral/Twig/composer.json
Labels: Engine: Twig, Framework: Spiral

#50 Add Spiral Plates Integration
  README.md
  examples/usages/spiral/app/src/Api/Web/Controller/TemplateController.php
  examples/usages/spiral/app/src/Application/Kernel.php
  examples/usages/spiral/app/views/base.plates.php
  examples/usages/spiral/composer.json
  src/Integration/Spiral/Plates/.gitignore
  src/Integration/Spiral/Plates/Bootloader/PlatesBootloader.php
  src/Integration/Spiral/Plates/Config/PlatesConfig.php
  src/Integration/Spiral/Plates/LICENSE
  src/Integration/Spiral/Plates/README.md
  src/Integration/Spiral/Plates/composer.json
Labels: Engine: Plates, Framework: Spiral

#52 Add Spiral Latte Integration
  README.md
  config.subsplit-publish.json
  examples/usages/spiral/.rr.yaml
  examples/usages/spiral/app/src/Api/Web/Controller/TemplateController.php
  examples/usages/spiral/app/src/Application/Kernel.php
  examples/usages/spiral/app/views/base.latte
  examples/usages/spiral/composer.json
  src/Integration/Spiral/Latte/.gitignore
  src/Integration/Spiral/Latte/Bootloader/LatteBootloader.php
  src/Integration/Spiral/Latte/Config/LatteConfig.php
  src/Integration/Spiral/Latte/LICENSE
  src/Integration/Spiral/Latte/README.md
  src/Integration/Spiral/Latte/composer.json
Labels: Engine: Latte, Framework: Spiral

#53 Add Spiral Blade Integration
  README.md
  examples/usages/spiral/app/src/Api/Web/Controller/TemplateController.php
  examples/usages/spiral/app/src/Application/Kernel.php
  examples/usages/spiral/app/views/base.blade.php
  examples/usages/spiral/composer.json
  src/Integration/Spiral/Blade/.gitignore
  src/Integration/Spiral/Blade/Bootloader/BladeBootloader.php
  src/Integration/Spiral/Blade/Config/BladeConfig.php
  src/Integration/Spiral/Blade/LICENSE
  src/Integration/Spiral/Blade/README.md
  src/Integration/Spiral/Blade/composer.json
Labels: Engine: Blade, Framework: Spiral

#56 Spiral framework integration
  src/Adapter/Blade/BladeRenderer.php
  src/Integration/Spiral/Blade/Bootloader/BladeBootloader.php
  src/Integration/Spiral/Blade/composer.json
  src/Integration/Spiral/SpiralView/Bootloader/SpiralViewBootloader.php
  src/Integration/Spiral/SpiralView/README.md
  src/Integration/Spiral/SpiralView/composer.json
  src/Integration/Spiral/Twig/Bootloader/TwigBootloader.php
  src/Integration/Spiral/Twig/README.md
  src/Integration/Spiral/Twig/composer.json
Labels: Engine: Blade, Engine: Twig, Framework: Spiral

#59 Fix Twig and Spiral View Bootloader
  src/Integration/Spiral/SpiralView/Bootloader/SpiralViewBootloader.php
  src/Integration/Spiral/Twig/Bootloader/TwigBootloader.php
  src/Integration/Spiral/Twig/composer.json
Labels: Framework: Spiral

#61 Simplify bootloaders and remove service id from Spiral Bootloaders
  src/Integration/Spiral/Blade/Bootloader/BladeBootloader.php
  src/Integration/Spiral/Handlebars/Bootloader/HandlebarsBootloader.php
  src/Integration/Spiral/Latte/Bootloader/LatteBootloader.php
  src/Integration/Spiral/Mustache/Bootloader/MustacheBootloader.php
  src/Integration/Spiral/Plates/Bootloader/PlatesBootloader.php
  src/Integration/Spiral/Smarty/Bootloader/SmartyBootloader.php
  src/Integration/Spiral/SpiralView/Bootloader/SpiralViewBootloader.php
  src/Integration/Spiral/Twig/Bootloader/TwigBootloader.php
Labels: Framework: Spiral

#62 Rename Mezzio Adapter to Mezzio Template Adapter
  README.md
  config.subsplit-publish.json
  examples/usages/mezzio/composer.json
  examples/usages/mezzio/composer.lock
  examples/usages/mezzio/config/config.php
  examples/usages/mezzio/config/routes.php
  examples/usages/mezzio/src/App/src/ConfigProvider.php
  examples/usages/mezzio/src/App/src/Handler/TemplateMezzioHandlerFactory.php
  examples/usages/mezzio/src/App/src/Handler/TemplateMezzioTemplateHandler.php
  examples/usages/mezzio/src/App/src/Handler/TemplateMezzioTemplateHandlerFactory.php
  src/Adapter/MezzioTemplate/.gitignore
  src/Adapter/MezzioTemplate/LICENSE
  src/Adapter/MezzioTemplate/MezzioTemplateRenderer.php
  src/Adapter/MezzioTemplate/README.md
  src/Adapter/MezzioTemplate/composer.json
  src/Integration/Mezzio/Mezzio/MezzioRendererFactory.php
  src/Integration/Mezzio/MezzioTemplate/.gitignore
  src/Integration/Mezzio/MezzioTemplate/ConfigProvider.php
  src/Integration/Mezzio/MezzioTemplate/LICENSE
  src/Integration/Mezzio/MezzioTemplate/MezzioTemplateRendererFactory.php
  src/Integration/Mezzio/MezzioTemplate/README.md
  src/Integration/Mezzio/MezzioTemplate/composer.json
Labels: Framework: Mezzio
